{% extends "layout.html" %}
{% block content %}
<h1>About This Project</h1>
<p>This prototype web application was created as part of the <strong>Introduction to Software Engineering</strong> course or <strong>CSC 414</strong>.</p>
<p>Our project will be used and developed to analyze plants and possible diseases.</p>
<div style="margin-top:40px;">
    <h3>Project Overview</h3>
    <p>This application will be using Python, HTML, and a dataset called PlantVillage to form a coherent and usable interface for all users. We hope to use the development of this project
    to inhance our understanding of software engineering as well as project development</p>
</div>
{% endblock %}