{% extends "layout.html" %}
{% block content %}
<h1>Contact Us</h1>
<p>Names and Emails for Questions and Concerns:</p>
<div style="margin-top:30px; line-height:1.8;">
    <strong>Cameron Rumfelt</strong> – cameron.rumfelt@usm.edu<br>
    <strong>Omar Bassam Abdelkhaleq</strong> – omar.abdelkhaleq@usm.edu<br>
    <strong>Kadin Dengler</strong> – kadin.dengler@usm.edu<br>
    <strong>Aidan M. Blackwell</strong> – aidan.blackwell@usm.edu<br>
    <strong>Subhikshya Lama</strong> – subhikshya.lama@usm.edu<br>
    <strong>Akachukwu Nicholas</strong> – akachukwu.nicholas@usm.edu<br>
    <strong>Rhishika Guragain</strong> – rhishika.guragain@usm.edu<br>
</div>
{% endblock %}