{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<address>
    Cameron Rumfelt <br />
    Email: cameron.rumfelt@usm.edu<br />
    Omar Bassam Abdelkhaleq <br />
    Email: omar.abdelkhaleq@usm.edu <br />
    Kadin Dengler <br />
    Email: kadin.dengler@usm.edu<br />
    Aidan M Blackwell<br />
    Email: aidan.blackwell@usm.edu<br />
    Subhikshya Lama <br />
    Email: subhikshya.lama@usm.edu<br />
    Akachukwu Nicholas <br />
    Email: akachukwu.nicholas@usm.edu<br />
    Rhishika Guragain <br />
    Email: rhishika.guragain@usm.edu<br />

</address>

{% endblock %}
