{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Dataset</h1>
    <p class="lead">Kaggle Dataset Named PlantVillage Dataset</p>
    <p><a href="https://www.kaggle.com/datasets/emmarex/plantdisease" class="btn btn-primary btn-large">Kaggle &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Github Link
        </p>
        <p><a class="btn btn-default" href="https://github.com/OGMrCrispy/Flask-Python-Web-Application">Github &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Future Buttons</h2>
        <p>Button for future purpose such as using dataset or uploading pictures</p>
        <p><a class="btn btn-default">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Future Buttons</h2>
        <p>Button for future purpose such as printing report or developing report</p>
        <p><a class="btn btn-default">Learn more &raquo;</a></p>
    </div>
</div>

{% endblock %}